<% provide(:title, @user.name) %>


<div class= "container" >
  <div class = "general">
    <div class= "row">
      <div class="col-md-2">
        
        <h2>
      
        <%= @user.name %>
        </h2>

      </div>
     
      <div class="col-md-10">
      <h1> Eat With <%= @user.name %> </h1>

              <% if @user.profile? %>
          
          <%= @user.profile %>  
          <% end %>


 <% if @user.meals.any? %><h1> My Offerings </h1>


   
     <div class="col-md-5">
    <%= render @meals %>
      </div>


         <div class="col-md-5">
    <%= render @meals %>
      </div>

 
    </div>
      
        

      
    	<% end %>
   


</div>
</div>
</div>




