<% provide(:title, @user.name) %>

<div class = "main">
<div class= "container" >

    <div class= "row">
      <div class="col-md-3">
        
  <h1> Eat With <%= @user.name %> </h1>
     <% if @user.profile? %>
          
          <%= @user.profile %>  
          <% end %>

      </div>
     
      <div class="col-md-9">
      

         

 <% if @user.meals.any? %>


    
    <% @meals.each do |meal| %>
    <div class="col-md-6">
      <div class = "thumbnail">
        <%= image_tag  ("Background.jpg") %>
        <h4><%= meal.title %></h4>
        <h2> By: <%=meal.user[:name] %> | <%= meal.city %> <h2>

   <h2>Price Per Person: $<%= meal.price %><br><br>
      
  
  <% if current_user?(meal.user) %>

    <%= link_to " Delete", meal, class: "fa fa-trash-o fa-lg", method: :delete,
                                     data: { confirm: "You sure?" },
                                     ohboy: meal.title %>


  <% end %></h2>



      </div>
    </div>
    <% end %>



    



 
    </div>
      

      
    	<% end %>
   
<% render @meals %>

</div>
</div>
</div>
</div>



