<% provide(:title, @user.name) %>


<div class= "container" >
  <div class = "col-12">
      <h1>  <%= @user.name %>
                              
     <% if @user.profile? %> </h1>
          
        <p>  <%= @user.profile%> </p>
          <% end %>
  </div>  
      
     

         

 <% if @user.meals.any? %>


    
    <% @meals.each do |meal| %>
    <div class = "row">
    <div class="col-md-6">
      <div class = "thumbnail">
     
        <h4><%=link_to meal.title, meal %></h4>
        <p> By: <%=meal.user[:name] %> | <%= meal.city %> 

   Price Per Person: $<%= meal.price %><br><br>
      
  
  <% if current_user?(meal.user) %>

    <%= link_to " Delete", meal, class: "fa fa-trash-o fa-sm", method: :delete,
                                     data: { confirm: "You sure?" },
                                     ohboy: meal.title %>


  <% end %>
</p>


      </div>
   
  </div>
    <% end %>



    



 

      

      
    	<% end %>
   
<% render @meals %>

</div>
</div>
</div>
</div>



