
    <div class="col-sm-4 col-md-4">  
      <div class= "thumbnail center">
          <%= image_tag  ("Background.jpg")%> 
       
      </div>
    
     
      <div class = "mealthumbnails"> 
       
        
      <h1><%= meal.title%></h1>
      <p><%= meal.content %></p>
      <p> By: <%=link_to meal.user[:name], meal %> | <%= meal.city %> </p>
    <p><%= meal.price %></p>
    
      </div>

  </div>
	  


      
  