<% provide(:title, 'All Meals') %>

<div class="container">

<br>
<br>
<br>
<br>
<br>
<br>

	<div class="row">
  	<div class="col-md-2">
  	<%= search_form_for @q do |f| %>
  		<%= f.label "Cities"%>
			<%= check_box_tag "q[city_in][]", "Seattle" %> Seattle <br>
			<%= check_box_tag "q[city_in][]", "New York" %> New York <br>
			<br>
			<%= f.label "Meal Description Includes:"%><br>
  		<%= f.text_field :title_cont, placeholder: "eg 'Pasta'" %><br>
			<%= f.submit %>
		<% end %>		
		</div>
	<div class="col-md-5">
		<div class="homeheader">
<h1>Total Meals: <%=@meals.count %> </h1> </div>
		<%= render @meals %>
	</div>
	</div>

</div>